body {
    margin: 0;
    padding: 0;
    font-family: "Munro";
    overflow: hidden;
    background-color: #000;
    cursor: unset;
}

@font-face {
    font-family: "Munro";
    src: url("fonts/munro/munro.ttf");
}

#gameDiv {
    position: absolute;
    margin: 0;
    top: 0;
}

#menuDiv {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    color: #fff;
    display: block;
}
#menuDiv h1 {
    position: relative;
    margin: 0 auto; 
    margin-top: 10vh;
    padding: 0;
    font-size: 20vh;
    text-align: center;
    color: #0f0;
    text-shadow: #0f0 0 0 0.8vh;
}
#menuDiv #menuSubtitle {
    position: relative;
    margin: 0 auto;
    margin-top: -4vh;
    padding: 0;
    font-size: 5vh;
    text-align: center;
    color: #fff;
    text-shadow: #fff 0 0 0.7vh;
}
#menuDiv #buttonDiv {
    position: relative;
    display: flex;
    margin-top: 4vh;
    flex-direction: column;
}
#menuDiv #buttonDiv button {
    position: relative;
    box-sizing: border-box;
    min-width: 55vw;
    overflow: hidden;
    height: 12vh;
    margin: 1vh auto;
    padding: auto;
    align-self: center;
    font-family: "Munro";
    font-size: 10vh;
    color: #fff;
    border-width: .4vh;
    border-style: solid;
    border-color: #aaa #444 #222 #888;
    background-color: rgba(100, 100, 100, 0.6);
    text-shadow: #fff 0 0 .5vh;
    cursor: pointer;
}
#menuDiv #buttonDiv button:hover {
    border-width: .4vh;
    font-size: 9vh;
    border-color: #333;
    background-color: rgba(50, 50, 50, 0.6);
    text-shadow: #555 0 0 1vh;
}
#menuDiv #buttonDiv button:active {
    font-size: 9vh;
    border-color: #222 #888 #aaa #444;
    background-color: rgba(30, 30, 30, 0.8);
    text-shadow: #fff 0 0 1vh;
}

#game {
    position: absolute;
    margin: auto;
    width: 1000px;
    height: 1000px;
    image-rendering: pixelated;
    background-color: black;
}

.titleText {
    position: relative;
    margin: 0;
    z-index: 1;
    color: white;
}