body {
    margin: 0;
    padding: 0;
    font-family: "Munro";
    overflow: hidden;
    background-color: #000;
    cursor: unset;
}

@font-face {
    font-family: "Munro";
    src: url("fonts/munro/munro.ttf");
}

#layer2-game {
    position: absolute;
    filter: blur(5px);
    opacity: 1;
    width: 100vw;
    height: 100vh;
}

#gameDiv {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: 0;
}

/* #scan-lines {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 200%;
    mix-blend-mode:soft-light;
    pointer-events: none;
    image-rendering: pixelated;
} */

#game {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 100vh;
    /* image-rendering: pixelated; */
    background-color: black;
}

#menuDiv {
    display: none;
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: 0;
    padding: 0;
    color: #fff;
    display: block;
    backdrop-filter: brightness(60%);
}
#menuDiv h1 {
    position: relative;
    margin: 0 auto; 
    margin-top: 10vh;
    padding: 0;
    font-size: 20vh;
    text-align: center;
    color: #0f0;
    text-shadow: #0f0 0 0 0.8vh;
}
#menuDiv #menuSubtitle {
    position: relative;
    margin: 0 auto;
    margin-top: -4vh;
    padding: 0;
    font-size: 5vh;
    min-height: 5vh;
    line-height: 1;
    text-align: center;
    color: #fff;
    text-shadow: #fff 0 0 0.7vh;
}
#menuDiv #buttonDiv {
    position: relative;
    /* display: flex; */
    max-height: 53vh;
    width: min-content;
    margin: auto;
    margin-top: 2vh;
    overflow-y: auto;
    scrollbar-color: gray rgba(0, 0, 0, 0.4);
    flex-direction: column;
    background-color: rgba(100, 100, 100, 0.2);
    border: 0.5vh solid rgba(100, 100, 100, 0.2);
}
#menuDiv #buttonDiv button {
    position: relative;
    box-sizing: border-box;
    min-width: 60vw;
    overflow: hidden;
    height: 12vh;
    margin: 1vh 1vh;
    padding: 0;
    /* padding: auto; */
    align-self: center;
    font-family: "Munro";
    font-size: 9vh;
    color: #fff;
    border: 0.4vh outset rgba(50, 50, 50, 0.8);
    background-color: rgba(60, 60, 60, 0.8);
    text-shadow: #fff 0 0 .5vh;
    cursor: pointer;
}
#menuDiv #buttonDiv button:hover {
    border-width: .4vh;
    font-size: 9vh;
    border: 0.5vh outset rgba(50, 50, 50, 0.8);
    background-color: rgba(50, 50, 50, 0.8);
    text-shadow: #555 0 0 1vh;
}
#menuDiv #buttonDiv button:active {
    font-size: 9vh;
    border: 0.4vh inset rgba(30, 30, 30, 0.8);
    background-color: rgba(30, 30, 30, 1);
    text-shadow: #fff 0 0 1vh;
}

.titleText {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 1;
    color: white;
}
