body {
    margin: 0;
    padding: 0;
    font-family: "Munro";
    overflow: hidden;
    background-color: #555;
}

@font-face {
    font-family: "Munro";
    src: url("fonts/munro/munro.ttf");
}

#game {
    position: absolute;
    margin: auto;
    width: 1000px;
    height: 1000px;
    image-rendering: pixelated;
    background-color: black;
}

.titleText {
    position: relative;
    margin: 0;
    z-index: 1;
    color: white;
}